.pag{
    margin-top: 2em;
    padding: 5em;
    text-align: center;
    border-radius: 2em;
  
}

.botao{
    margin-top: 1em;
}

#grad{
    background-image: linear-gradient(rgb(129, 9, 129),rgb(86, 86, 175));
}

.foto{
    width: 100%;
}